{% extends 'apps/TambahData.html '%}

<!-- Modal ID -->
{% block modal-id %} id="editModal{{data.pk}}" {% endblock modal-id %}

<!-- Modal Title -->
{% block modal-title %}   <i class="fas fa-edit"></i> &nbsp; &nbsp; Edit Data {% endblock modal-title %} 

<!-- Action Modal -->
{% block action %} action="/EditData" {% endblock action%}

<!-- Button Action -->
{% block btn-action %}<i class="fas fa-server">&nbsp;&nbsp; Simpan</i>{% endblock btn-action %}



<!--=============================== All (input) =================================== -->

<!-- ID -->
{% block Value-id %} 

<div class="input-group mb-3">
    <span class="btn border-secondary bg-light side-label"><i class="fas fa-key"></i></span>
    <input type="text" class="form-control" name="id" value="{{ data.id }}" readonly >
</div>

{% endblock Value-id %}

<!-- Nama -->
{% block Value-nama %} value="{{ data.nama }}" {% endblock Value-nama %} 

<!-- Email -->
{% block Value-email %} value="{{ data.email }}" {% endblock Value-email %} 

<!-- Jabatan -->
{% block Value-jabatan %} value="{{ data.jabatan }}" {% endblock Value-jabatan %} 

<!-- Gaji -->
{% block Value-gaji %} value="{{ data.gaji }}" {% endblock Value-gaji %} 

<!-- jenis kelamin-->
{% block option %} 
<option style="background-color: #d3d3d3; counter-reset: #111;"> {{ data.jeniskelamin }}</option>
{% endblock option %} 

<!-- Note -->
{% block note %}{{ data.note }}{% endblock note %}